<!-- Delete these tags later -->
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/src/main/resources/static/styles/style.css" />
  </head>
  <!-- Delete these tags later -->

  <body>
    <div class="sidenav-container">
      <nav class="sidenav">
        <button class="sidenav-button projects-button">Projects</button>
        <ul class="nav-list projects-list">
          <li>Current Projects</li>
          <li>Archived Projects</li>
          <li>Start New Project</li>
        </ul>
        <button class="sidenav-button stash-button">Stash</button>
        <ul class="nav-list stash-list">
          <li>Yarn</li>
          <li>Needles</li>
        </ul>
        <button class="sidenav-button settings-button">Settings</button>
        <button class="sidenav-button logout-button">Logout</button>
      </nav>
    </div>
  </body>
</html>
