<!-- Fragment for: sidebar -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/style.css" />
  </head>

  <body>
<div th:fragment="sidebar">
  <div class="sidenav-container">
  <nav class="sidenav">
      <ul class="nav-list">
      <li class="sidenav-button home-button"> <a th:href="@{/home}">Home</a></li>
      <li class="sidenav-button projects-button">Projects</li>
        <ul class="sub-list projects-list">
          <li><a class="link-unstyled" th:href="@{/projects}">Current Projects</a></li>
          <li><a class="link-unstyled" th:href="@{/projects/archived}">Archived Projects</a></li>
          <li><a class="link-unstyled" th:href="@{/projects/new}">Start New Project</a></li>
        </ul>
        <li class="sidenav-button stash-button">Stash</li>
        <ul class="sub-list stash-list">
          <li><a class="link-unstyled" th:href="@{/stash/yarn}">Yarn</a></li>
          <li>Needles</li>
        </ul>
        <li class="sidenav-button settings-button">Settings</li>
        <li class="sidenav-button logout-button">Logout</li>
      </ul>
      </nav>
    </div>
</div>
  </body>
</html>
