<!-- Delete these tags later -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <!-- Delete these tags later -->

  <body>
    <!-- header -->
    <header class="page-header"><h1>Website name</h1></header>
    <!-- sidebar -->
    <div class="sidenav-container">
      <nav class="sidenav">
        <button class="sidenav-button projects-button">Projects</button>
        <ul class="nav-list projects-list">
          <li>Current Projects</li>
          <li>Archived Projects</li>
          <li>Start New Project</li>
        </ul>
        <button class="sidenav-button stash-button">Stash</button>
        <ul class="nav-list stash-list">
          <li>Yarn</li>
          <li>Needles</li>
        </ul>
        <button class="sidenav-button settings-button">Settings</button>
        <button class="sidenav-button logout-button">Logout</button>
      </nav>
      <!-- main -->
    </div>
    <main class="page-body">
      <div class="row m-0">
        <div class="col-md-12">
          <section>Resume latest project</section>
        </div>
        <div class="col-md-6">
          <section>A chart will go here</section>
        </div>
        <div class="col-md-6">
          <section>Uhh something else here idk</section>
        </div>
      </div>
    </main>
  </body>
</html>
