<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
<!-- header and sidebar -->
  <div th:replace="fragments/header :: header"></div>
  <div th:replace="fragments/sidebar :: sidebar"></div>

<!-- page content -->
<main class="page-body">
  <div class="row m-0">
    <div class="col-md-12">
      <section><h1>Resume latest project</h1></section>
    </div>
    </div>
</main>
<div th:replace="fragments/scripts :: scripts"></div>
  </body>
</html>
