<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width= device-width, initial-scale= 1.0" />
  </head>
  <body>
    <div class="row" style="justify-content: center">
      <div class="col-md-6">
        <form>
          <label for="username">Enter username:</label>
          <input type="text" id="username" />
          <br />
          <label for="password"> Enter password:</label>
          <input type="password" id="password" />
          <br />
          <input type="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
