<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <div class="row m-0" style="justify-content: center">
      <div class="col-md-6">
        <div class="login-container">
          <form th:action="@{/login/authenticate}" method="post" >
            <div class="form-group sans-serif">
              <label for="username">Enter username:</label>
              <input type="text" id="username" class="form-control" name="username" />
            </div>
            <div class="form-group sans-serif">
              <label for="password">Enter password:</label>
              <input type="password" id="password" class="form-control" name="password"/>
            </div>
            <input
              type="submit"
              class="btn btn-primary sans-serif"
              value="Log in"
            />
          </form>
        </div>
      </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
  </body>
</html>
