<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/src/main/resources/static/styles/style.css" />
  </head>
  <body>
    <div class="row m-0" style="justify-content: center">
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="name">Project name</label>
            <input type="text" id="name" class="form-control" />
          </div>

          <div class="form-group">
            <label for="yarn">yarn name</label>
            <input type="text" id="yarn" class="form-control" />
          </div>

          <div class="form-group">
            <label for="file">Pattern</label>
            <input type="file" id="file" class="form-control" />
          </div>

          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
  </body>
</html>
