<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/head :: head"></div>
  </head>
  <body>
    <!-- header and sidebar -->
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="row m-0" style="justify-content: center">
      <div class="col-md-6">
        <section>
          <form
            th:action="@{/project/save}"
            method="post"
            th:object="${project}"
          >
            <div class="form-group">
              <label for="name">Project name</label>
              <input
                type="text"
                id="name"
                class="form-control"
                th:field="*{pName}"
              />
            </div>

            <div class="form-group">
              <label for="yarn">yarn name</label>
              <input
                type="text"
                id="yarn"
                class="form-control"
                th:field="*{pYarn}"
              />
            </div>
            <input type="submit" value="submit" />
          </form>
        </section>
      </div>
    </div>
    <div th:replace="fragments/scripts :: scripts"></div>
  </body>
</html>
