<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<!-- header and sidebar -->
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- page content -->
<main class="page-body">
    <div class="row">
        <div class="col-md-12">
            <section>
                <h1>Stash Page</h1>
                <a class="link-unstyled" th:href="@{/stash/newyarn}">Add new</a>
            </section>
        </div>
    </div>
</main>
</body>
</html>
